@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Space+Grotesk:wght@400;500;700&family=Space+Mono:wght@700&display=swap");

/* 
font-family: 'Inter', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Space Mono', monospace;
*/