.header {
  padding: 48px 0;
  border-bottom: 1px solid #000;
  transition: all .1s linear;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 48px;
    a {
      border-radius: 4px;
      background: #000;
      color: #fff;
      padding: 12px;
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 896px) {
  .header {
    &-title {
      gap: 4px;
      &.icon {
        width: 23px;
      }
      &.logo {
        width: 107px;
      }
    }
  }
}

@media (max-width: 512px) {
  .header {
    &-links {
      gap: 10px;
    }
  }
}