.important {
  padding: 100px 0 48px;
  color: #fff;
  &__inner {
    background: #000;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-wrap {
      display: flex;
      align-items: center;
      gap: 48px;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    gap: 6px;
    h2 {
      text-transform: uppercase;
    }
  }
  #important-chevron {
    cursor: pointer;
  }
}

@media (max-width: 896px) {
  .important {
    &-title {
      h2 {
        font-size: 16px;
      }
      &-info {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 512px) {
  .important {
    &__inner {
      padding: 10px;
      &-wrap {
        gap: 15px;
      }
    }
  }
}
